* {
    margin: 0;
}
/*
html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
} */

li {
    list-style-type: none;
}

.nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.nav img{
    margin-right:0;
}

.nav-right{
    display: flex;
    align-items: center;
}
.nav ul{
    display: flex;
}
.nav ul li{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #214e41;
    margin-left: 10px;
    margin-right: 10px;
}
.nav ul li:last-child{
    color: #f0a446;
}
.nav a{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 700;
    background-color: #214e41;
    color: #ffffff;
    text-decoration: none;
    width: 130px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin: 10px;
}
.nav select{
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #214e41;
    margin: 10px;
}
.language{
    text-transform: uppercase;
    appearance: none;
}
.wrapper {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 1140px;
    max-width: 100%;
}
.admin,
.bring,
.radmin, 
.gadmin, 
.badmin {
    width: 100%;
    display: flex;
}

.bring{
    background: linear-gradient(to right,  #e3eeed 50%,#214e41 50%);
    padding-top: 50px;
}

.header {
    background-image: url(img/header-background.svg);
    background-position: center;
    background-size: cover;
    padding-top: 50px;
}

.header h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #214e41;
    width: 500px;
    margin-bottom: 40px;
    margin-left: 10%;
}

.header input {
    border: none;
    width: 280px;
    max-width: 100%;
    height: 60px;
    margin-left: 10%;
    margin-bottom: 200px;
}

.header button {
    background-color: #43806c;
    color: #ffffff;
    border: none;
    width: 130px;
    max-width: 100%;
    height: 60px;
    cursor: pointer;
}
.line{
    height: 160px;
    margin-top: -80px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 5px 10px 5px #cecece;
}

.line-box{
    display: flex;
    width: 30%;
}
.line-box img{
    margin: 20px;
}
.line-box h4{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 5%;
}
.line-box p{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-right: 5%;
}
.container {
    width: 50%;
}

._left{
    margin: 0;
    padding: 0;
}
._right{
    margin: 0;
}
._right p{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: #ffffff;
    width: 300px;
    margin-left: 10%;
}
._left h4{
    text-transform: uppercase;
    margin-top: -28px;
    margin-bottom: 13px;
    margin-left: 10%;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 200;
}
.bring ul{
    padding: 0;
    margin-left: 10%;
}
.bring ul li{
    font-family: 'Roboto', sans-serif;
    font-size: 36;
    font-weight: 300;
    color: #43806c;
    padding-bottom: 20px;
}
.bring ul li:first-child{
    font-weight: 700;
    color: #214e41;
}
.bring ul li:last-child{
    margin-bottom: 50px;
}

.radmin img {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: -4px;
    width: 50%;
}
.left-radmin{
    background-image: url(img/cellphone-pic.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: bottom;
    background-size: 50%;
}

.gadmin img{
    width: 80%;
    margin-top: 100px;
}
.badmin img{
    margin-bottom: 150px;

}
.container-row{
    display: flex;
}
.container-row__left{
    display: flex;
    flex-direction: column-reverse;
}
.container-row__right{
    display: flex;
    align-items: flex-end;
}
.container-row__left h4{
    color: #214e41;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 10%;
}

.badmin hr{
    background-color: #f0a446;
    border: 2px solid #f0a446;
    margin-left: 10%;
    width: 220%;
    z-index: 100;
    margin-top: 30px;
}
.badmin span{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    color:#43806c;
    font-weight: 700;
    margin-bottom: 200px;
    width: 200px;
    margin-left: 10%;
    margin-top: 30px;
}
.admin {
    background-image: url(img/admin-background.svg);
    background-position: center;
    background-size: cover;
}

.admin p, 
.badmin p, 
.gadmin p, 
.radmin p {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    color:#43806c;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 100px;
    margin-left: 10%;
}

.header h1, 
.admin h2, 
.badmin h2, 
.gadmin h2, 
.radmin h2 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 60px;
    font-size: 36px;
    font-weight: 700;
    color: #214e41;
    width: 70%;
    margin-left: 10%;
}

.admin h3, 
.badmin h3, 
.gadmin h3, 
.radmin h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #757575;
    width: 70%;
    margin-bottom: 40px;
    margin-left: 10%;
}

.admin a, 
.badmin a, 
.gadmin a, 
.radmin a {
    display: flex;
    text-decoration: none;
    color: #43806c;
    border-bottom: 1px solid #43806c;
    padding-bottom: 10px;
    width: 75px;
    margin-bottom: 100px;
    margin-left: 10%;
}

.part{
    width: 25%;
}
.part h2{
    color: #f0a446;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
}

.part p{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 700;
    width: 90%;
}
.gallery{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 100px;
}
.proudly{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.proudly h2{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #214e41;
}
.case{
    margin: 20px;
    width: 30%;
}
.case img{
    width: 100%;
    margin-bottom: 10px;
}
.case p{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 11px;
    color: #43806c;
}

.case h3{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #214e41;
}

.talk {
    display: flex;
    background-color: #e3eeed;
}

.talk-wrapper {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding-top: 150px;
    font-family: 'Roboto', sans-serif;
}

.talk-wrapper__left{
    background-image: url(img/lets-talk-pic.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 50%;
}

.talk-wrapper h2 {
    margin-left: 10%;
    margin-bottom: 60px;
    font-size: 36px;
    font-weight: 700;
    color: #214e41;
    width: 70%;
}

.talk-wrapper a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #214e41;
    color: #ffffff;
    border-radius: 10px;
    width: 140px;
    height: 40px;
    margin-bottom: 100px;
    margin-left: 10%;
}

.footer {
    background-color: #214e41;
    color: #ffffff;
    width: 100%;
}

.footer-up {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Raleway', sans-serif;
}

.footer-up ul li {
    margin-bottom: 20px;
}

.footer-up ul li:first-child {
    font-weight: 700;
}

.footer__right-column h4 {
    font-weight: 300;
}

.footer__right-column input {
    border: 1px solid #ffffff;
    background-color: #214e41;
    width: 300px;
    height: 56px;
}

.footer__right-column button {
    border: none;
    width: 60px;
    height: 60px;
}

.footer__right-column h4,
input, 
p {
    margin-bottom: 20px;
}

.socialmedia {
    display: flex;
}

.socialmedia a {
    margin-right: 20px;
}

.lincedin,
.twitter,
.youtube {
    display: flex;
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: cover;
}

.lincedin {
    background-image: url(img/lincedin-icon.svg);
}

.twitter {
    background-image: url(img/twitter-icon.svg);
}

.youtube {
    background-image: url(img/youtube-icon.svg);
}

.footer-down {
    border-top: 1px solid #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-down p {
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}

.subline {
    display: flex;
    justify-content: space-between;
}

/*carusielle*/

.ant-carousel-list{
    display: flex;
    width: 100%;
}
.ant-carousel-element{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.ant-carousel-hider{
    overflow: hidden;
    width: 100%;
}
.ant-carousel{
    width: 100%;
}
.carousel{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 150px;
}