*{
    margin: 0;
    padding: 0;
}

p{
    max-width: 699px;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-left: 10px;
}

h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 900;
    margin: 10px;

}

h6{
    /* margin-bottom: 40px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 50px;
}

.header{
    display: flex;
    align-items: center;
}

.button-line{
    margin-top: 20px;
}

.chat-link{
    background-color: #36ba5f;
    position: relative;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    padding: 14px;
    padding-left: 52px;
    padding-right: 52px;
    border-radius: 10px;
    margin-left: 10px;
}

span{
    position: relative;
}

span::before{
    position: relative;
    content: url(img/icon-chat.svg);
    margin-right: 5px;
    top: 3px;
}

a[href^="tel:"]{
    background-color: #f9f9f9;
    text-align: center;
    padding: 14px;
    border-radius: 10px;
    margin-left: 10px;
}

a[href^="tel:"]:before {
    content: url(img/icon-phone.svg);
}

a[href^="mailto:"]{
    background-color: #f9f9f9;
    text-align: center;
    padding: 14px;
    border-radius: 10px;
    margin-left: 10px;
}

a[href^="mailto:"]:before {
    content: url(img/icon-mail.svg);
}

@media screen and (max-width:620px){
    span{
        visibility: hidden;
    }

    .chat-link{
        text-align: center;
    padding: 14px;
    border-radius: 10px;
    margin-left: 10px;
    }

    .chat-link::before{
        position: relative;
        content: url(img/icon-chat.svg);
        top: 3px;
    /* margin-right: 5px;
    top: 3px; */
    }
}