*{
    margin: 0;
}

@font-face {
    font-family: "Museo Sans";
    src: url("fonts/MuseoSans/MuseoSansCyrl-300.woff") format("woff"),
    url("fonts/MuseoSans/MuseoSansCyrl-500.woff") format("woff"),
    url("fonts/MuseoSans/MuseoSansCyrl-900.woff") format("woff")

   }


ul{
    list-style-type: none;
    padding: 0;
}

h1{
    text-align: center;
    font-family: 'Museo Sans', Courier, monospace;
    color: #ffffff;
    margin-top: 40px;
    font-weight: 900;
    font-size: 60pt;
}

h3, h4{
    text-align: center;
    font-family: 'Museo Sans', Courier, monospace;
    font-size: 40pt;
    font-weight: 900;
}

header{
    background-color: #93bbea;
    height: 100%;
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: relative;
    border-radius: 40px;
    overflow: hidden;
}

header::after{
    content: url(img/handwithphone.png);
    position: absolute;
    bottom: -10px;
    right: 0;
}

header::before{
    content: url(img/paperjets.png);
    position: absolute;
    bottom: 50px;
    left: 0;
}

header p{
    text-align: center;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Museo Sans', Courier, monospace;
    font-weight:300;
    font-size: 17pt;
    width: 100%;
    max-width: 600px;
}

.header__title{
    display: flex;
}

.container{
    margin-left: auto;
    margin-right: auto;
    z-index: 20;
}

nav{
    display: flex;
    
    margin-bottom: 70px;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 0;
    z-index: 10;
}

nav ul li{
    font-family: 'Museo Sans', Courier, monospace;
    font-weight: bolder;
    position: relative;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    width: 160px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
}

nav ul li:nth-child(1)::before{
    position: absolute;
    content: url(img/icon-nav-one.svg);
    left: 22px;
}

nav ul li:nth-child(2)::before{
    position: absolute;
    content: url(img/ant-design_phone-filled.svg);
    left: 25px;
}

nav ul li:nth-child(3)::before{
    position: absolute;
    content: url(img/icon-nav-three.svg);
    left: 40px;
}

nav ul li:nth-child(4)::before{
    position: absolute;
    content: url(img/icon-nav-four.svg);
    left: 12px;
}

main .social-media ul{
    display: flex;
    margin-left: auto;
}

/* main .social-media p{
    
}

main .social-media h2{
    
} */

.social-media{
    display: flex;
    box-shadow: 0px 0px 10px 5px #cacaca;
    max-width: 996px;
    width: 100%;
    height: 166px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    align-items: center;
}

.social-media__title{
    margin-left: 10px;
}

.social-media__title p{
    font-family: 'Museo Sans', Courier, monospace;
}

h2{
    font-family: 'Museo Sans', Courier, monospace;
}

main .social-media ul li{
    width: 50px;
    height: 50px;
    background-color: #f9f9f9;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 5px;
}

main .social-media ul li:nth-child(1)::before{
    position: absolute;
    content: url(img/icon-vk.svg);
}

main .social-media ul li:nth-child(2)::before{
    position: absolute;
    content: url(img/icon-instagram.svg);
}
main .social-media ul li:nth-child(3)::before{
    position: absolute;
    content: url(img/icon-tiktok.svg);
}
main .social-media ul li:nth-child(4)::before{
    position: absolute;
    content: url(img/icon-twitter.svg);
}
main .social-media ul li:nth-child(5)::before{
    position: absolute;
    content: url(img/icon-yandexdzen.svg);
}
main .social-media ul li:nth-child(6)::before{
    position: absolute;
    content: url(img/icon-facebook.svg);
}

/*CARUSIELLE*/

.wrapper{
    display: flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
} 
   

.ant-carousel {
    width: 1200px;
    padding-top: 10px;
    border: 1px solid rgb(255, 255, 255);
    background-color: white;
    margin-left: auto;
    margin-right: auto;
  }

.ant-carousel-hider {
    overflow: hidden;
    width: 1200px;
}

.ant-carousel-list{
    display: flex;
}

.ant-carousel-element{
    display: flex;
    margin: 9px;
    width: 282px;
    max-width: 282px;
    min-width: 282px;
    box-shadow: 0px 0px 10px 5px #cacaca;
    border-radius: 10px;
}

.ant-carousel-element p{
    font-family: 'Museo Sans', Courier, monospace;
    font-weight: bold;
    font-size: 20pt;
    margin-top: 10px;
    margin-left: 10px;
}

.ant-carousel-element p:nth-child(2){
    font-family: 'Museo Sans', Courier, monospace;
    font-size: 15pt;
    margin-top: 10px;
    margin-left: 10px;
    color: #949494;
}

.ant-carousel-element img{
    margin-left: auto;
    width: 104px;
}

  /* Navigation item styles
  div.ant-carousel-arrow-left,
  div.ant-carousel-arrow-right {
    width: 22px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    z-index: 32;
  }
  
  div.ant-carousel-arrow-left {
    left: -40px;
    top: 40%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-left.png") no-repeat;
  }
  
  div.ant-carousel-arrow-right {
    
    display: block;
    background: url("/img/paperjets.png") no-repeat;
  }
  
  div.ant-carousel-arrow-left:hover {
    opacity: 1.0;
  }
  
  div.ant-carousel-arrow-right:hover {
    opacity: 1.0;
  } */

/**/

.reference{
    /* display: flex;
    flex-direction: column;
    max-width: 996px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: cadetblue; */
    display: flex;
    flex-direction: column;
    /* box-shadow: 0px 0px 10px 5px #cacaca; */
    max-width: 996px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

.reference li p{
    padding: 0;
    margin: 0;
    font-family: 'Museo Sans', Courier, monospace;
}

.reference li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-shadow: 0px 0px 10px 5px #cacaca;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

.reference li::before{
    position: absolute;
    content: url(img/ref-arrow.svg);
    right: 0;
    margin-top: 3px;
}

@media screen and (max-width:620px){
    .social-media{
        flex-direction: column;
        height: 100%;
        padding-bottom: 25px;
    }

    .social-media p{
        margin-top: 25px;
    }

    main .social-media ul{
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        padding: 0;
    }

    .social-media__title{
        text-align: center;
    }

    header::after{
        visibility: hidden;
    }
    
    header::before{
        visibility: hidden;
    }

    h1{
        font-size: 15vw;
    }
}

/*carusiele adaptive*/

@media screen and (max-width:1220px){
    .ant-carousel-element{
        max-width: 346px;
        min-width: 346px;
    }
    .wrapper{
        width: 1090px;
    } 
       
    .ant-carousel {
        width: 1090px;
    }
    
    .ant-carousel-hider {
        width: 1090px;
    }
}

@media screen and (max-width:1100px){
    .ant-carousel-element{
        max-width: 305px;
        min-width: 305px;
    }
    .wrapper{
        width: 970px;
    } 
       
    
    .ant-carousel {
        width: 970px;
    }
    
    .ant-carousel-hider {
        width: 970px;
    }
}

@media screen and (max-width:1000px){
    .ant-carousel-element{
        max-width: 385px;
        min-width: 385px;
    }
    .wrapper{
        width: 800px;
    } 
       
    .ant-carousel {
        width: 800px;
    }
    
    .ant-carousel-hider {
        width: 800px;
    }
}

@media screen and (max-width:820px){
    .ant-carousel-element{
        max-width: 310px;
        min-width: 310px;
    }
    .wrapper{
        width: 650px;
    } 
       
    .ant-carousel {
        width: 650px;
    }
    
    .ant-carousel-hider {
        width: 650px;
    }
}

@media screen and (max-width:685px){
    .ant-carousel-element{
        max-width: 258px;
        min-width: 258px;
    }
    .wrapper{
        width: 550px;
    } 
       
    .ant-carousel {
        width: 550px;
    }
    
    .ant-carousel-hider {
        width: 550px;
    }
}

@media screen and (max-width:590px){
    .ant-carousel-element{
        max-width: 405px;
        min-width: 405px;
    }
    .wrapper{
        width: 420px;
    } 
       
    .ant-carousel {
        width: 420px;
    }
    
    .ant-carousel-hider {
        width: 420px;
    }
}

@media screen and (max-width:480px){
    .ant-carousel-element{
        max-width: 302px;
        min-width: 302px;
    }
    .wrapper{
        width: 320px;
    } 
       
    .ant-carousel {
        width: 320px;
    }
    
    .ant-carousel-hider {
        width: 320px;
    }
}

@media screen and (max-width:350px){
    .ant-carousel-element{
        max-width: 260px;
        min-width: 260px;
    }
    .wrapper{
        width: 280px;
    } 
       
    .ant-carousel {
        width: 280px;
    }
    
    .ant-carousel-hider {
        width: 280px;
    }
}
/**/






