*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

.wrapper{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
.header{
    background-image: url(img/header.svg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 750px;
    margin: 0;
}
.header-bottom{
    border: 1px solid #ffffff;
    width: 100%;
}
.logo{
    display: flex;
}
.logo-first{
    color: #0f4898;
}
.logo-second{
    color:#ffffff;
}
.header-nav{
    display: flex;
    list-style-type: none;
}
.header-nav__point{
    margin: 20px;
    color: #ffffff;
}
.header-contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.header-contacts__tel{
    text-decoration: none;
    color: #ffffff;
}
.header-contacts__mail{
    text-decoration: none;
    color: #ffffff;
}
.main{
    display: flex;
    height: 780px;
    background: linear-gradient(to right,  #e5e5e5 66%,#ffffff 34%);
}
.main-wrapper{
    margin-top: 100px;
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.main-block__left{
    display: flex;
    flex-direction: column;
    align-items: inherit;
    width: 50%;
    height: 750px;
}
.main-block__right{
    background-image: url(img/pic.svg);
    background-repeat: no-repeat;
    width: 50%;
    height: 750px;
}
.project__text-block{
    margin-top: 45%;
    margin-right: -20px;
    margin-left: 20px;
    width: 100%;
    padding: 50px;
    background-color: #ffffff;
    font-size: 13px;
    color: #000;
    z-index: 10;
}
.footer{
    display: flex;
    height: 125px;
    background-color: #323232;
    color: #ffffff;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.footer-nav{
    display: flex
}
.footer-nav__point{
    list-style-type: none;
    margin: 10px;
}
.news{
    display: flex;
    flex-direction: column;
    height: 780px;
    background: linear-gradient(to right,  #ffffff 66%,#e5e5e5 34%);
}
.news-headline{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.news-headline__button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #0f4898;
    width: 139px;
    height: 40px;
}
.news-block{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.news-block__column{
    display: flex;
    flex-direction: column;
    width: 285px;
    height: 480px;
    background-color: #ffffff;
}
.column-content{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
}
.column-img{
    height: 40%;
    width: 100%;
    background-image: url(img/pic.svg);
    background-position:inherit;
}
.column-button{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #0f4898;
    width: 139px;
    height: 40px;
}
.column-text{
    margin-top: 10px;
    font-size: 11px;
    margin-bottom: 10px;
}
.column-headline{
    margin-top: 10px;
    margin-bottom: 10px;
}